<footer>
        <div class="linha1-cnt">
            <div class="container footer-row">
                <div class="col ft-linha1 ftln1-col1">
                    <img src="assets/img/logo-rodape.png">
                    Creating the best cakes and sweets for your party
                </div>
                <div class="col ft-linha1 ftln1-col2">
                    <h2>Contact</h2>
                    <div>
                        <p>Orders and Information:</p>
                        <a href="https://wa.me/+918454028705" target="_blank">&nbsp; <i class="fab fa-whatsapp"></i> (91) 84540-28705</a><br>
                        <p>E-mail:</p>
                        <a href="mailto:TheHealthyBite@gmail.com">&nbsp; <i class="far fa-envelope"></i> TheHealthyBite@gmail.com</a>
                    </div>
                </div>
                <div class="col ft-linha1 ftln1-col3">
                    <h2>Location</h2>
                    <div>
                        <!-- <a href="https://goo.gl/maps/1BFGTG326KtFUzAUA" target="_blank"> -->
                            &nbsp; Kopar Khairane Sec-2a<br>
                        &nbsp; Navi Mumbai<br>
                        &nbsp;
                     <!-- </a> -->
                        <br>
                        <!-- <p>Deliveries: <a href="https://wa.me/+918454028705" target="_blank">Consulte</a></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="linha2-cnt">
            <div class="container ft-linha2">
                <p>© Copyright 2020 &nbsp; | &nbsp; The Healthy Bite</p>
                <h2>
                    <a href="https://www.facebook.com/DesertsByAaru/" target="_blank"><i class="fab fa-facebook-square"></i></a> &nbsp;
                    <a href="https://www.instagram.com/deserts_by_aaru/" target="_blank"><i class="fab fa-instagram"></i></a>
                </h2>  
            </div>
        </div>
    </footer>