<main class="mainsobre">
   <div class="jumbotron bg-white">
      <div class="lead jumbolead">Who we are</div>
   </div>
   <div class="container bg-white" id="sobre-cnt">

      <div class="row home-titulo">
         <h1>A little about us</h1>
      </div>
      <div class="row">
         <div class="col linha2">

            <p>Aaru's <strong>The Healthy Bite</strong> makes the best of the party with great taste: cakes and sweets to fill your eyes and surprise by the taste.</p>
            
            <p>Personalized cakes, well-married, cupcakes, fine sweets, decorated lollipops and patterned sweets make up the atelier's broad product portfolio.</p>
            
            <p>At its own factory, located in Jardim Ibirapuera, products are prepared by a highly specialized team.
               The ingredients are of the highest quality. Everything is produced by hand and in small batches to ensure freshness,
                maintaining quality and flavor.</p>
            
            <p>Whatever the event, ask for a tasting by appointment and get to know our products up close.</p>
         </div>
         <div class="col-5 linha2 ln2-img">
            <img src="../../assets/img/index/whoweare.jpg" class="thumbnail">
         </div>
      </div>


   </div>
</main>